body {
    background-color: #F7F7F7;
}
#parc{ 

    display: flex;
    align-items: center;
  
}

.sans{
    font-family: PT sans;
}

button:hover{
    border-bottom: black solid;
    
}
button{
    background-color: transparent;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: solid;
    border: none;
    margin: -30px;
}